@page

@using Microsoft.AspNetCore.Hosting;

@model EmbilyServices.Pages.IndexModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.Theme.Title</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Theme.Title" />
    <meta property="og:description" content="We think that money can be simpler. We will help streamline all kinds of payment processes. Making a simple yet efficient way to use your money." />
    <meta property="og:url" content="https://@Model.Theme.Domain" />
    <meta property="og:site_name" content="@Model.Theme.Title" />
    <meta property="og:image" content="https://@Model.Theme.Domain/assets/images/themes/@Model.Theme.ProgramId/product.png" />
    <meta property="og:image:secure_url" content="https://@Model.Theme.Domain/assets/images/themes/@Model.Theme.ProgramId/product.png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="768" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="We think that money can be simpler. We will help streamline all kinds of payment processes. Making a simple yet efficient way to use your money." />
    <meta name="twitter:title" content="@Model.Theme.Title" />
    <meta name="twitter:site" content="embilysays" />
    <meta name="twitter:image" content="https://@Model.Theme.Domain/assets/images/themes/@Model.Theme.ProgramId/product.png" />
    <meta name="twitter:creator" content="embilysays" />

    <link rel="stylesheet" type="text/css" href="/assets/styles/starting.css" />

    @{
        if (!env.IsDevelopment())
        {
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123793335-2"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-123793335-2');
            </script>
            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
            <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" async></script>
            <script>
                window.addEventListener("load", function () {
                    window.cookieconsent.initialise({
                        "palette": {
                            "popup": {
                                "background": "#eaf7f7",
                                "text": "#5c7291"
                            },
                            "button": {
                                "background": "#ffffff",
                                "text": "#6184ff"
                            }
                        },
                        "content": {
                            "href": "/legal/section/cookie-policy",
                            "dismiss": '<span style="font-size:1.1em;" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Got it'
                        }
                    });
                });
            </script>

            <!--
            To collect user behavior analytics about your application,
            insert the following script into each page you want to track.
            Place this code immediately before the closing </head> tag,
            and before any other scripts. Your first data will appear
            automatically in just a few seconds.
            -->
            <script type="text/javascript">
                var appInsights = window.appInsights || function (a) {
                    function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
                }({
                    instrumentationKey: "0bf12461-f565-4ae1-bdd1-8563a97d7d92"
                });

                window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
            </script>
        }
    }

    <link rel="stylesheet" href="@Model.StylesFile">

    @*@{
        if (!env.IsDevelopment())
        {
        }
    }*@

</head>
<body>
    <app-root>
        <div class="loader"></div>
    </app-root>
    <!-- Start of embily Zendesk Widget script -->
    <script>
/*<![CDATA[*/window.zEmbed || function (e, t) { var n, o, d, i, s, a = [], r = document.createElement("iframe"); window.zEmbed = function () { a.push(arguments) }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document; try { o = s } catch (e) { n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s } o.open()._l = function () { var e = this.createElement("script"); n && (this.domain = n), e.id = "js-iframe-async", e.src = "https://assets.zendesk.com/embeddable_framework/main.js", this.t = +new Date, this.zendeskHost = "embily.zendesk.com", this.zEQueue = a, this.body.appendChild(e) }, o.write('<body onload="document._l();">'), o.close() }();
/*]]>*/</script>
    <!-- End of embily Zendesk Widget script -->

    @{
        foreach (var file in Model.JSFiles)
        {
            <script type="text/javascript" src="@file"></script>
        }
    }

</body>
</html>
